body {
    /*background-image: url("assets/backgroundTile.png");
    background-repeat: repeat;*/
    background-color: #93d288;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: 700;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'sangBold';
}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width:  600px;
    height: 2px;
    background: white;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -18px;
    left: 50%;
    font-size: 20px;
    color: #fabf00; 
    padding: 5px;
    background: black;
    transform: translateX(-50%);
}

section {
    padding: 100px 0;
}

h1 {
    font-family: 'Rahdahani';
}

h2 {
    font-family: 'Rahdahani';
}

h3 {
    font-family: 'Rahdahani';
}

/*global styling*/

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
    overflow-x: hidden;
}

.button-list{
    text-align: center;
    padding-bottom: 20px;
}

hr {
    color:white;
}

.app-link-button {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

.app-link-button:hover {
    cursor: pointer;
}

div {
    margin: 0 auto;
    /*background-color: #777;*/
}

iframe {
    margin: 0 auto;
    display: block;
    border-style:none;
    width: calc(0.45vw * 112);
    height: calc(0.45vw * 63);
    padding-top: 1vh;
    padding-bottom: 2vh;
}

#logo {
    padding-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/*colors*/

.red {
    color: crimson;
}

.yellow {
    color:#fabf00
}

.green {
    color: greenyellow;
}

.blue {
    color:blue;
}

.purple {
    color:blueviolet;
}

.pink {
    color: purple;
}

/*footer styling*/
footer{
    padding: 20px 23px;
    text-align: center;
    font-size: 12px;
}

footer span a{
    color: #fabf00;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}

footer img{
    margin-top: 25px;
    height: 80px;
    width: auto;
}

/* Responsive media query */

@media (max-width: 1300px) {
}

@media (max-width: 1104px) {

   .app-link-button {
    display: block;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }

    #logo {
        width: 90%;
        padding-top: 50px;
    }

    iframe {
        width: calc(0.85vw * 112);
        height: calc(0.85vw * 63);
        padding-left: 0;
        padding-right: 0;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    p {
        font-size: 18px;
    }
}

@media (max-width: 947px) {

    .max-width{
        max-width: 937px;
        margin-left: 0;
    }

    .text-content {
        font-size:  35px;
    }
}

@media (max-width: 690px) {
    /*690 global*/
    .max-width {
        max-width: 680px;
    }
    section .title::before{
        width: 400px;
    }

    section .title::after{
        font-size: 12px;
    }

    /*690 home*/

    .text-content {
        font-size:  32px;
    }
}

@media (max-width: 500px) {

    .max-width {
        max-width: 490px;
    }
    .text-content {
        font-size:  27px;
    }
    section .title::before{
        width: 300px;
    }
}