@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300&display=swap');

/*global styling*/

:root{
	--hovColor: #fabf00;
   --secondaryColor: rgba(47, 79, 79, 1);
}

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
    overflow-x: hidden;
}

body {
    background-color: #93d288;
    color: white;
    font-family: "Rajdhani";
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Ubuntu";
}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width:  600px;
    height: 2px;
    background: white;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -18px;
    left: 50%;
    font-size: 20px;
    color: #fabf00; 
    padding: 5px;
    background: black;
    transform: translateX(-50%);
}

section {
    padding: 100px 0 20px 0;
}

h1, h2, h3 {
    padding-top: 2vh;
    padding-bottom: 1vh;
    font-family: 'Ubuntu';
    font-weight: 400;
    /*filter: drop-shadow(2px 1px 1px #ffffff);*/
}

/*Added from old CSS*/
.button-list{
    display: block;
    text-align: center;
    padding-bottom: 20px;
}

.app-link-button {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
}

.app-link-button:hover {
    cursor: pointer;
}

iframe {
    margin: 10px auto;
    display: block;
    border-style:none;
    width: calc(0.40vw * 112);
    height: calc(0.40vw * 63);
}

hr {
    color: white;
}

strong {
    color: #fffaf1;
    filter: drop-shadow(1px 1px 1px #3c3f41);
}

#logo {
    padding-top: 130px;
    padding-left: 2vw;
    padding-right: 2vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#changing-phrase-container {
    text-align: center;
    font-family: Ubuntu;
    padding: 2vh 3vw;
    height: 100px;
    line-height: 30px;
}

#changing-phrase {
    vertical-align: middle;
    font-size: 30px;
    font-weight: 300;
    opacity: 0;
    font-style: italic;
    filter: drop-shadow(1px 1px 1px #3c3f41);
}



.text-content {
    color: var(--secondaryColor);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.bullet-and-text {
    display: flex;
    align-items: center;
    text-align: left;
}

.bullet-and-text > h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.bullet-and-text > p {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.bullet-and-text > img {
    height: 40px;
    float: left;
}


/* home section */

.color-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100vh;
    opacity: 0.7;
    z-index: 100;
    overflow: hidden!important;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    position: relative;
    font-size:  27px;
    z-index: 500;
}

.home .home-content .text-2 {
    position: relative;
    font-size:  75px;
    font-weight: 600;
    margin-left: -3px;
    z-index: 500;
}

.text-2 span{
    color: #d713e9;
}

.home .home-content .text-3 {
    position: relative;
    font-size:  40px;
    margin: 5px 0;
    z-index: 500;
}

.home .home-content a{
    position: relative;
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    
    z-index: 500;
}

.home .home-content a:hover{
    color: #fff;
    background: none;
}


/*About Section Styling*/
/*.about .title::after {
    content: "the Romantic Absurdist";
}*/

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right p{
    text-align: justify;
}

/*Download EPK button*/
.about .about-content .right a{
    display: inline-block;
    background: #fabf00;
    color: #000000;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #fabf00;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: white;
    background: none;
}

/*footer styling*/
footer{
    padding: 20px 23px;
    text-align: center;
    font-size: 12px;
}

footer span {
    color: var(--secondaryColor);
}

footer span a{
    filter: drop-shadow(1px 1px 1px #3c3f41);
    color: white;
    text-decoration: none;
    
}

footer span a:hover{
    color: white;
    text-decoration: underline;
}

footer img{
    margin-top: 25px;
    height: 80px;
    width: auto;
}





/* Responsive media query */

@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
   .about .about-content .left img{
        height: 350px;
        width: 350px;
   }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {

    #changing-phrase {
        font-size: 20px;
    }

    .bullet-and-text {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .bullet-and-text > p {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .max-width{
        max-width: 800px;
    }

    .home .home-content .text-2 {
        font-size:  70px;
    }

    .home .home-content .text-3 {
        font-size:  35px;
    }

    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }

    /*about*/

    .about .about-content .column{
        width: 100%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right{
        flex: 100%;
    }

    #logo {
        padding-top: 150px;
        padding-left: 0;
        padding-right: 0;
        width: 90%;
    }

    #home {
        padding-top: 20px !important;
    }

    iframe {
        width: calc(0.85vw * 112);
        height: calc(0.85vw * 63);
        padding-left: 0;
        padding-right: 0;
        padding-top: 0px;
        margin: 0 auto 20px auto;
    }

    #changing-phrase-container {
        height: 80;
    }

   .app-link-button {
    display: block;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: auto;
    }
}

@media (max-width: 690px) {
    /*690 global*/
    .max-width {
        padding: 23px;
    }
    section .title::before{
        width: 400px;
    }

    section .title::after{
        font-size: 12px;
    }

    /*690 home*/

    .home .home-content .text-2 {
        font-size:  60px;
    }

    .home .home-content .text-3 {
        font-size:  32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size:  50px;
    }

    .home .home-content .text-3 {
        font-size:  27px;
    }
    section .title::before{
        width: 300px;
    }
}